@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.rings {
    box-shadow: 0 0 0 24px rgba(255,255,255,.2),
    0 0 0 48px rgba(255,255,255,.1),
    0 0 0 72px rgba(255,255,255,.05);
}

[v-cloak] {
    display: none;
}

.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%); 
}

ul.list-square {
    text-indent: 20px;
}
ul.list-square li {
    position: relative;
    text-indent: -0px;
    padding-left: 24px;
}



.colt-45::before {
    content: '';
    position: absolute;
    display: block;
    top: -16px;
    left: 50%;
    padding: 16px;
    transform: translateX(-50%);
    width: 256px;
    height: 200px;
    background-color: black;
    background-image: url('/img/works-every-time.jpg');
    background-size: cover;
    opacity: 0;
    transition: all 125ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.colt-45:hover::before {
    opacity: 1;
    top: -128px;
}

.alamodal {
    background-image:radial-gradient(100% 150% at 0% 55%, rgba(255, 255, 255, 0.25) 38%, rgba(233, 225, 229, 0.44) 53.5%, rgba(220, 191, 224, 0.63) 69%, #4299e1 100%), linear-gradient(318deg, #ffffb5 0%, #fef372 7.33%, #f6d860 22%, #f3bf59 27.67%, #ed894b 39%, #e47346 45%, #d53a42 57%, #c93a51 63.33%, #b1385e 76%, #97385d 84%, #6a324f 100%)
}

.flight-plan {
    background-image: url('/img/projects/milky-way.jpg');
    background-size: cover;
}

ul.list-square li::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    left: 0;
    top: 8px;
    background-color: theme('colors.gray.300');
  }